<%= link_to deals_path, class: "back-icon" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
<% end %>

<div class="deal-title">
  <%= @deal.title %>
</div>

<div class="deal-photo">
  <%= image_tag @deal.photo.url(:large) %>
</div>

<div class="deal-date">
  Added by <%= @deal.user_id %> on <%= @deal.created_at %>
</div>

<div class="deal-done">
  <% unless @deal.done %>
    Mark deal as done?
  <% end %>
</div>

</p>
<%= link_to 'Delete this deal?', @deal, method: :delete, data: { confirm: 'Are you sure?' } %>
