<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @deal.photo %>
</p>

<p>
  <strong>Done:</strong>
  <%= @deal.done %>
</p>

<p>
  <strong>User:</strong>
  <%= @deal.user_id %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
